In [1]:
FILE_PATH = 'https://github.com/AlexTheAnalyst/PandasYouTubeSeries/raw/main/Customer%20Call%20List.xlsx'

In [2]:
import pandas as pd

In [4]:
#!pip install openpyxl --quiet

In [128]:
df = pd.read_excel(FILE_PATH)

In [129]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [130]:
df[["Street_Address", "State", "Zip_Code"]]  = df["Address"].str.split(',',expand=True)

In [131]:
df.loc[df['Paying Customer']=='N','Paying Customer'] = 'No'
df.loc[df['Paying Customer']=='Y','Paying Customer'] = 'Yes'
df.loc[df['Paying Customer']=='N/a','Paying Customer'] = None

In [132]:
df.loc[df['Do_Not_Contact']=='Y','Do_Not_Contact'] = 'Yes'
df.loc[df['Do_Not_Contact']=='N','Do_Not_Contact'] = 'No'

In [133]:
df['Phone_Number'] = [str(i).replace("/","-") for i in df['Phone_Number']]
df['Phone_Number'] = [str(i).replace("|","-") for i in df['Phone_Number']]

In [141]:
mask = ~df['Phone_Number'].str.contains("-")
df.loc[mask, 'Phone_Number']  = df.loc[mask, 'Phone_Number'].apply(lambda x : x[0:3] + "-" + x[3:6] + "-" + x[6:])

In [156]:
mask = df['Phone_Number'].str.contains("n|N")
df.loc[mask, 'Phone_Number'] = None

In [178]:
df = df[['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Street_Address', 'State', 'Zip_Code',
       'Paying Customer', 'Do_Not_Contact']]

In [183]:
df['Last_Name'] = df['Last_Name'].str.replace('/|\.|_', "", regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
/var/folders/ny/pg8v39_s7fs6mzps_lf1v5l80000gn/T/ipykernel_22259/1089431390.py:1: SyntaxWarning: invalid escape sequence '\.'
  df['Last_Name'] = df['Last_Name'].str.replace('/|\.|_', "", regex=True)
/var/folders/ny/pg8v39_s7fs6mzps_lf1v5l80000gn/T/ipykernel_22259/1089431390.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Last_Name'] = df['Last_Name'].str.replace('/|\.|_', "", regex=True)

In [184]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Street_Address,State,Zip_Code,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,None,Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,None,None,No,Yes
2,1003,Walter,White,706-695-0392,298 Drugs Driveway,None,None,No,NaN
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,18503,Yes,Yes
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,None,None,Yes,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,None,None,Yes,Yes
6,1007,Jeff,Winger,None,1209 South Street,None,None,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,None,None,No,No
8,1009,Gandalf,NaN,None,123 Middle Earth,None,None,Yes,NaN
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,None,Yes,No
10,1011,Samwise,Gamgee,None,612 Shire Lane,Shire,None,Yes,No
11,1012,Harry,Potter,706-695-0392,2394 Hogwarts Avenue,None,None,Yes,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,None,None,Yes,No
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,None,None,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,None,None,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,None,None,No,No
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,None,Yes,No
17,1018,Clark,Kent,706-695-0392,3498 Super Lane,None,None,Yes,NaN
18,1019,Creed,Braton,None,N/a,None,None,None,Yes
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Yes,No
20,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,None,Yes,No